.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.otherRoutes {
	display: flex;
	flex-direction: column;
}
h1 {
	text-align: center;
}
.btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: aliceblue;
	color: black;
}
.google-login-div {
	width: 250px;
	margin: 0 auto;
	margin-top: 300px;
	display: flex;
	justify-content: center;
}
.navbar {
	position: fixed;
	top: 0;
	right: 1%;
}
.navbar li {
	list-style: none;
	background-color: aliceblue;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}
/* STATS */
.stats,
.dashboard {
	margin: 1rem;
}
.stats h1,
.dashboard h1 {
	font-size: 2rem;
}
.stats main {
	display: flex;
	justify-content: space-between;
}
.all-transactions {
	width: fit-content;
}
.transaction-div,
.dashboard-event {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem 0.5rem;
	margin: 1.5rem 0;
	list-style: none;
	width: fit-content;
}
.stats span {
	background-color: aliceblue;
	padding: 0.5rem 1rem;
	margin-right: 2rem;
	height: fit-content;
	border-radius: 5px;
}
/* DASHBOARD */
.events {
	display: flex;
	flex-direction: column;
	width: fit-content;
}
